@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
  overflow-y: hidden;
  overflow-x: hidden;
}

body{
  background: #04243C;
  font-family: Arial;
}

svg {
    display: flex;
    font: 4.8em 'Montserrat';
    width: auto;
    height: 300;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #22809E;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #2496A8;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #3FAFDF;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #557CE0;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #3FE2DC;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

/* .name_container {

}

.name {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bfbfbf;
  text-decoration: none;
}

.nhover {
  background-color: #04243C;
}

.name_tag {
  text-decoration: none;
}

.item .name_tag p.labeled span {
  position: relative;
} */